# === General options ===
TMP_DIR=tmp_uploads
STORED_BLOCKS_DIR=stored_blocks
GLOBAL_SUMMARY_FILE=global_summary.txt

# === OpenAI Settings ===
OPENAI_API_KEY=OPENAI_API_KEY
MODEL_NAME=gpt-4o-mini

# === Embeddings / FAISS ===
MAX_BLOCKS_PER_FILE=5
TOP_K=3

# === Allowed files extensions ===
ALLOWED_EXTENSIONS=.py,.txt,.md
