# === General options ===
TMP_DIR=tmp_uploads
STORED_BLOCKS_DIR=stored_blocks
GLOBAL_SUMMARY_FILE=global_summary.txt

# === OpenAI Settings ===
LLM_PROVIDER=openai  # openai or mistral
# for ex. gpt-4o-mini, gpt-3.5-turbo for openai OR mistral-large-latest for mistral
MODEL_NAME=gpt-4o-mini
OPENAI_API_KEY=OPENAI_API_KEY
MISTRAL_API_KEY=MISTRAL_API_KEY

# === Embeddings / FAISS ===
MAX_BLOCKS_PER_FILE=3
TOP_K=3

# === Allowed files extensions ===
ALLOWED_EXTENSIONS=.py,.txt,.md
